/*Font*/
body{font-size:12px;font-family:"Trebuchet MS",Verdana, Geneva, Arial, Helvetica, sans-serif;}
#footer a{ font-size:10px;}
#ctndx form table td{font-size:12px;}
#ctndx form input{font-size:9px;}

/*Generali*/
body{background-color:#000;margin:0;padding:0; color:#fff;}
img{border:0}
form{margin:0;padding:0;}
form input{margin:0;padding:0;}
.sx{float:left}
.dx{float:right}
.dividi{clear:both}


/*Struttura*/
#page{display:block;width:987px;height:615px; margin:auto; text-align:left; border:1px solid #333; color:#3f250e;font-size:12px;}
#ctnsx{width:210px; height:615px; background:url(../images/back_sx.jpg) 0 bottom no-repeat; float:left;}
#ctndx{width:775px; height:615px;  background:url(../images/back_dx.jpg) 0 bottom no-repeat;background-color:#c1bfa8; float:left; margin:0;}
#popup{color:#3f250e;background-color:#c1bfa8; margin:0; padding:10px;}
#popup a{color:#3f250e}

/*Header*/
h1{width:210px; height:210px; margin:0; padding:0;}
h1 a{width:210px; height:210px; background:url(../images/logo.gif) 0 0 no-repeat; display:block;}
h1 a span{ display:none;}
h2 img{margin-left: 20px;}

/*Menu*/
ul#menu{list-style-type:none; float:left; margin:0; padding:10px 0 0 15px;}
ul#menu li{width:173px; float:left;}
ul#menu li a{ display:block; width:173px; height:30px; text-decoration:none; margin:0; padding:0;}
ul#menu li span{display:none}
ul#menu li a.close{}
ul#menu li a.open{}

a.menu1{display:block; width:173px; height:30px; background:url(../images/menu1.gif) 0 0 no-repeat;}
a.menu1:hover{display:block; width:173px; height:30px; background:url(../images/menu1on.gif) 0 0 no-repeat;}
a.menu1on{display:block; width:173px; height:30px; background:url(../images/menu1on.gif) 0 0 no-repeat;}

a.menu2{display:block; width:173px; height:30px; background:url(../images/menu2.gif) 0 0 no-repeat;}
a.menu2:hover{display:block; width:173px; height:30px; background:url(../images/menu2on.gif) 0 0 no-repeat;}
a.menu2on{display:block; width:173px; height:30px; background:url(../images/menu2on.gif) 0 0 no-repeat;}

a.menu3{display:block; width:173px; height:30px; background:url(../images/menu3.gif) 0 0 no-repeat;}
a.menu3:hover{display:block; width:173px; height:30px; background:url(../images/menu3on.gif) 0 0 no-repeat;}
a.menu3on{display:block; width:173px; height:30px; background:url(../images/menu3on.gif) 0 0 no-repeat;}

a.menu4{display:block; width:173px; height:30px; background:url(../images/menu4.gif) 0 0 no-repeat;}
a.menu4:hover{display:block; width:173px; height:30px; background:url(../images/menu4on.gif) 0 0 no-repeat;}
a.menu4on{display:block; width:173px; height:30px; background:url(../images/menu4on.gif) 0 0 no-repeat;}

a.menu5{display:none; width:173px; height:30px; background:url(../images/menu5.gif) 0 0 no-repeat;}
a.menu5:hover{display:none; width:173px; height:30px; background:url(../images/menu5on.gif) 0 0 no-repeat;}
a.menu5on{display:none; width:173px; height:30px; background:url(../images/menu5on.gif) 0 0 no-repeat;}

a.menu6{display:block; width:173px; height:30px; background:url(../images/menu6.gif) 0 0 no-repeat;}
a.menu6:hover{display:block; width:173px; height:30px; background:url(../images/menu6on.gif) 0 0 no-repeat;}
a.menu6on{display:block; width:173px; height:30px; background:url(../images/menu6on.gif) 0 0 no-repeat;}

/*Scroll*/
#scroll-container {position: relative;height: 495px; width:665px; margin:25px 0 0 90px;}
#scroll-container-small {position: relative;height: 400px; width:665px; margin:25px 0 0 90px;}
#content{position: absolute;top: 0;left: 0; width: 605px;overflow: hidden;}
#content p.last{ padding-bottom:50px}
#track {position: absolute;	left: 635px;top: 6px;width: 8px;height: 418px;background:url(../images/back_scroll.gif) 0 0 repeat-y;}
#handle {position: absolute;left: 0;top: 0;width: 8px;height: 37px;background:url(../images/scroll.gif) 0 0 no-repeat;}
#button-up {position: absolute;top: 0;left: 635px;width: 8px;height: 6px; background:url(../images/top_scroll.gif) 0 0 no-repeat;}
#button-down {position: absolute;top: 424px;left: 635px;width: 8px;height: 6px; background:url(../images/bottom_scroll.gif) 0 0 no-repeat;}

#content2{position: absolute;top: 0;left: 0; width: 605px;overflow: hidden;}
#content2 p.last{ padding-bottom:50px}
#track2 {position: absolute;	left: 635px;top: 6px;width: 8px;height: 418px;background:url(../images/back_scroll.gif) 0 0 repeat-y;}
#handle2 {position: absolute;left: 0;top: 0;width: 8px;height: 37px;background:url(../images/scroll.gif) 0 0 no-repeat;}
#button-up2 {position: absolute;top: 0;left: 635px;width: 8px;height: 6px; background:url(../images/top_scroll.gif) 0 0 no-repeat;}
#button-down2 {position: absolute;top: 424px;left: 635px;width: 8px;height: 6px; background:url(../images/bottom_scroll.gif) 0 0 no-repeat;}

#content3{position: absolute;top: 0;left: 0; width: 605px;overflow: hidden;}
#content3 p.last{ padding-bottom:50px}
#track3 {position: absolute;	left: 635px;top: 6px;width: 8px;height: 418px;background:url(../images/back_scroll.gif) 0 0 repeat-y;}
#handle3 {position: absolute;left: 0;top: 0;width: 8px;height: 37px;background:url(../images/scroll.gif) 0 0 no-repeat;}
#button-up3 {position: absolute;top: 0;left: 635px;width: 8px;height: 6px; background:url(../images/top_scroll.gif) 0 0 no-repeat;}
#button-down3 {position: absolute;top: 424px;left: 635px;width: 8px;height: 6px; background:url(../images/bottom_scroll.gif) 0 0 no-repeat;}


/*Content*/
#ctndx h2{margin:20px 0 20px 0}
p{ margin-bottom:10px;}

/*Footer*/
#footer{width:640px; height:34px;float:left; margin:10px 0 0 65px; text-align:right; border-top:2px solid #b8b49d; color:#3f250e;}
#footer a{ text-decoration:none; color:#3f250e;}


/*Form*/
#ctndx form{height: 435px; width:665px; margin:25px 0 0 0px;}
#ctndx form table td,#ctndx form table td a{color:#3f250e}
#ctndx form input{height: 17px; width:270px;}
#ctndx form input.send{width:73px; height:21px;background: url(../images/btn_invia.gif) 0 0  no-repeat; border:0; margin:0; padding:0;}
#ctndx form input.checkbox{width:13px; height:13px;}
#ctndx form input.save{width:73px; height:21px; background: url(../images/btn_save.gif) 0 0  no-repeat; border:0; margin:0; padding:0;}
#ctndx form input.browse{height:20px;}

 
/* Table */
#ctndx table{font-size:12px;}
#ctndx .edit_table tr td{font-weight:bold; color:#3f250e; text-align:right;padding-right:5px;}
#ctndx .edit_table tr .right_column{color:#ffffff; text-align:left;padding-left:9px;}
#ctndx .center_table table {margin-left:90px;} 

/*Validation*/
.panelContent {border-right: #999 1px solid; padding-right: 1em; border-top: #999 1px solid; padding-left: 1em; padding-bottom: 1em; margin: 0em; border-left: #999 1px solid; padding-top: 1em; border-bottom: #999 1px solid}
.inputError {border-right: #FF8000 1px solid; border-top: #FF8000 1px solid; margin: 0px; border-left: #FF8000 1px solid; border-bottom: #FF8000 1px solid; color: #FF8000; background-color: #FFFFD7}
.innerError {background-image: url(../images/invalid.gif); background-position: left top;background-repeat: no-repeat;padding:1px 0 0 20px;color: #ff0707}
.innerHelp {background-image: url(../images/valid.gif); color: #fff; font-size:10px;}
.buttonstyle {border: #FF8000 1px solid;padding: 2px;margin: 0px;background-position: center;background-color: #EDEBE0;color: #000000;text-align: center;text-decoration: none;font-weight: bold;font-family: verdana;cursor: hand;}
.buttonstyledisabled {border: #aaaaaa 1px solid;padding: 2px;margin: 0px;background-position: center;background-color: #EDEBE0;color: #aaaaaa;text-align: center;text-decoration: none; font-weight: bold;font-family: verdana;cursor: hand;}

/*Tab*/

#menutab{margin:60px 0 0 0; padding:0; float:right; list-style-type:none;height: 40px; width:290px;}
#menutab li{margin:0; padding:0; float:right;}
#menutab li a span{ display:none;}
#menutab2{margin:60px 0 0 0; padding:0; float:right; list-style-type:none;height: 40px; width:450px;}
#menutab2 li{margin:0; padding:0; float:right;}
#menutab2 li a span{ display:none;}
#tab1.on{ width:138px; height:40px; background: url(../images/generale.gif) 0 0 no-repeat; display:block;}
#tab2.on{ width:120px; height:40px; background: url(../images/tecnico.gif) 0 0 no-repeat; display:block;}
#tab3.on{ width:124px; height:40px; background: url(../images/tab_results.gif) 0 0 no-repeat; display:block;}
#tab4.on{ width:131px; height:40px; background: url(../images/tab_stats.gif) 0 0 no-repeat; display:block;}
#tab5.on{ width:131px; height:40px; background: url(../images/tab_ranking.gif) 0 0 no-repeat; display:block;}

#tab1.off{ width:138px; height:40px; background: url(../images/generale_off.gif) 0 0 no-repeat; display:block;}
#tab2.off{ width:120px; height:40px; background: url(../images/tecnico_off.gif) 0 0 no-repeat; display:block;}
#tab3.off{ width:124px; height:40px; background: url(../images/tab_results_off.gif) 0 0 no-repeat; display:block;}
#tab4.off{ width:131px; height:40px; background: url(../images/tab_stats_off.gif) 0 0 no-repeat; display:block;}
#tab5.off{ width:131px; height:40px; background: url(../images/tab_ranking_off.gif) 0 0 no-repeat; display:block;}

img.regolamento{ margin:-3px 0 0 90px}

#ctntab {position:relative;width:760px;height: 464px; float:left; margin:0; padding:0;}
#texttab1 {position:absolute;top:0;left:0; visibility: visible;}
#texttab1 p{margin:0; padding:0;}
#texttab2 {position:absolute;top:0;left:0; visibility: hidden;}
#texttab2 p{margin:0; padding:0;}
#texttab3 {position:absolute;top:0;left:0; visibility: hidden;}
#texttab3 p{margin:0; padding:0;}
#texttab4 {position:absolute;top:0;left:0; visibility: hidden;}
#texttab4 p{margin:0; padding:0;}
#texttab5 {position:absolute;top:0;left:0; visibility: visible;}
#texttab5 p{margin:0; padding:0;}


.player_widget{text-decoration:none; float:left; margin: 10px 0 0px 15px; width:180px;}